@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", arial;
  background-color: #0f0a4a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10%;
  padding-top: 1%;
}

.nav-container a .logo-svg {
  width: 50%;
  height: auto;
}

.nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container nav ul a {
  display: block;
  padding-right: 2rem;
  color: #3fdd17;
  font-size: 1.2rem;
}

.nav-container nav ul .large-screen {
  display: none;
}

.nav-container nav ul .github {
  display: none;
}

.social-links {
  display: none;
  margin-left: 5%;
  margin-bottom: 5%;
}

.intro {
  padding-top: 15%;
  padding-left: 10%;
}

.intro h2 {
  color: #3fdd17;
  font-weight: 400;
  font-size: 1rem;
}

.intro h1 {
  color: #f2a0af;
  font-size: 3rem;
  font-weight: 500;
  margin: 0%;
}

.intro .inner {
  color: #976da0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 5rem;
  margin-top: 0%;
  margin-bottom: 4%;
  padding-top: 2%;
  line-height: normal;
}

.intro p {
  color: #976da0;
  font-size: 1.1rem;
  padding-top: 2%;
  margin-right: 15%;
}

.intro button {
  border-radius: 0.5rem;
  background-color: #0f0a4a;
  border-color: #3fdd17;
  border-width: 0.15rem;
  padding: 15px 32px;
  color: #f2a0af;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 2.5rem;
}

.about-me {
  margin-top: 10%;
}

.about-me h1 {
  color: #f2a0af;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 11%;
}

.about-me h1 hr {
  display: inline-block;
  width: 40%;
  border-color: #4555b4;
}

.about-me p {
  margin-left: 11%;
  margin-top: 2rem;
  color: #976da0;
  font-size: 1.1rem;
  margin-right: 15%;
}

.about-me ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3rem;
}

.about-me ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.about-me ul li h2 {
  margin-left: 10%;
  margin-right: 10%;
  color: #f2a0af;
  font-size: 1.1rem;
}

.about-me ul li svg {
  width: 2rem;
  height: auto;
  margin-left: 0;
}

.about-me .me {
  margin-left: 15%;
  margin-top: 3rem;
  width: 50%;
}

.projects {
  margin-top: 10%;
  position: relative;
}

.projects h1 {
  color: #f2a0af;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 16%;
  margin-bottom: 0;
}

.projects hr {
  display: inline-block;
  width: 16%;
  border-color: #4555b4;
}

.projects .first_project {
  background-color: #5b5279;
  width: 80%;
  height: 22rem;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 2rem;
  border-radius: 10%;
  position: absolute;
  opacity: 0;
}

.projects .first_project h2 {
  margin-left: 10%;
  padding-top: 1rem;
  color: #3fdd17;
  font-weight: 400;
  font-size: 1rem;
}

.projects .first_project h1 {
  margin-left: 1.5%;
  color: #f2a0af;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 2rem;
}

.projects .first_project p {
  display: none;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0.7;
  color: #64ffda;
}

.projects .first_project a {
  display: none;
}

.projects .leica_store img {
  width: 80%;
  height: 22rem;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 2rem;
  border-radius: 10%;
}

.projects .second_project {
  background-color: #4a3c66;
  width: 80%;
  height: 22rem;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 2rem;
  border-radius: 10%;
  position: absolute;
  opacity: 0;
}

.projects .second_project h2 {
  margin-left: 10%;
  margin-bottom: 0;
  padding: 0;
  color: #3fdd17;
  font-weight: 400;
  font-size: 1rem;
}

.projects .second_project h1 {
  margin-left: 1.5%;
  color: #f2a0af;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 2rem;
}

.projects .second_project p {
  padding-left: 10%;
  padding-right: 10%;
}

.projects .second_project svg {
  padding-left: 2rem;
}

.projects .third_project {
  background-color: #5b5279;
  width: 80%;
  height: 22rem;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 2rem;
  border-radius: 10%;
  position: absolute;
  opacity: 0;
}

.projects .third_project h2 {
  margin-left: 10%;
  padding-top: 1rem;
  color: #3fdd17;
  font-weight: 400;
  font-size: 1rem;
}

.projects .third_project h1 {
  margin-left: 1.5%;
  color: #f2a0af;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 2rem;
}

.projects .third_project p {
  display: none;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0.7;
  color: #64ffda;
}

.projects .third_project a {
  display: none;
}

.projects .notey h1 {
  text-align: center;
  margin-left: 14%;
  margin-right: 10%;
  margin-top: 10%;
}

.projects .notey-container-1 {
  background-color: #876cbe;
  width: 80%;
  height: 19.5rem;
  margin-left: 14%;
  margin-top: 2rem;
  padding-top: 3rem;
}

.projects .notey-container-1 h1 {
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
}

.projects .notey-container-1 p {
  margin-left: 4%;
  margin-right: 4%;
}

.projects .notey-container-1 .icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8%;
  padding-right: 6%;
}

.projects .notey-container-1 .icon1 svg {
  width: 10%;
}

.projects .notey-container-2 {
  background-color: #876cbe;
  width: 80%;
  height: 19.5rem;
  margin-left: 14%;
  margin-top: 2rem;
  padding-top: 3rem;
}

.projects .notey-container-2 h1 {
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
}

.projects .notey-container-2 p {
  margin-left: 4%;
  margin-right: 4%;
}

.projects .notey-container-2 .icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8%;
  padding-right: 6%;
}

.projects .notey-container-2 .icon1 svg {
  width: 10%;
}

.projects .notey-container-3 {
  background-color: #876cbe;
  width: 80%;
  height: 19.5rem;
  margin-left: 14%;
  margin-top: 2rem;
  padding-top: 3rem;
}

.projects .notey-container-3 h1 {
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
}

.projects .notey-container-3 p {
  margin-left: 4%;
  margin-right: 4%;
}

.projects .notey-container-3 .icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8%;
  padding-right: 6%;
}

.projects .notey-container-3 .icon1 svg {
  width: 10%;
}

.contact {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}

.contact h1 {
  color: #f2a0af;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 2rem;
  margin-bottom: 0%;
  margin-top: 5%;
}

.contact h2 {
  margin-top: 15%;
  margin-bottom: 0;
  padding: 0;
  color: #3fdd17;
  font-weight: 400;
  font-size: 1.5rem;
}

.contact button {
  border-radius: 0.5rem;
  background-color: #0f0a4a;
  border-color: #3fdd17;
  border-width: 0.15rem;
  padding: 15px 32px;
  color: #f2a0af;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

.contact p {
  color: #976da0;
  font-weight: 500;
  font-size: 1.1rem;
  margin-left: 0%;
}

footer {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
}

footer p {
  color: #976da0;
  margin-left: 8%;
}

footer svg {
  margin-top: 4.5%;
  margin-left: 0.6rem;
}

@media only screen and (min-width: 700px) {
  .nav-container header {
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 8%;
  }
  .nav-container header a .logo-svg {
    width: 87px;
    height: auto;
  }
  .nav-container header nav {
    width: 50%;
  }
  .nav-container header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container header nav ul a {
    font-size: 24px;
  }
  .nav-container header nav ul .mobile {
    display: none;
  }
  .nav-container header nav ul .large-screen {
    display: block;
  }
  .nav-container header nav ul .github {
    display: block;
  }
  .social-links {
    display: unset;
    position: fixed;
    bottom: 0;
  }
  .social-links ul li {
    margin-top: 80%;
  }
  .social-links ul li a svg {
    width: 100%;
    height: 40px;
  }
  .intro {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 8%;
    padding: 0%;
  }
  .intro h1 {
    font-size: 64px;
  }
  .intro .inner {
    margin-right: 25%;
    padding-top: 0%;
    font-size: 64px;
    line-height: 100%;
  }
  .intro h2 {
    font-size: 24px;
  }
  .intro p {
    padding-top: 0%;
    margin-left: 0%;
    margin-right: 35%;
    font-size: 24px;
  }
  .about-me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(40px, auto);
    margin-left: 25%;
    margin-right: 8%;
  }
  .about-me h1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 0%;
    font-size: 36px;
  }
  .about-me p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 3% 50% 0% 0%;
    font-size: 24px;
  }
  .about-me .skills-list {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .about-me .me {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ 3;
  }
  .large-screen {
    display: unset;
  }
  footer {
    margin-left: 38%;
    margin-right: 30%;
  }
  .me {
    padding-left: 20%;
  }
  .projects {
    margin-left: 25%;
    margin-right: 8%;
  }
  .projects h1 {
    margin: 0%;
    font-size: 36px;
  }
  .projects .leica_store img {
    width: 80%;
    height: auto;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 2rem;
    border-radius: 10%;
  }
  .projects .first_project {
    background-color: #F2A0AF;
    margin: 0%;
    width: 617px;
    height: 403px;
    border-radius: 20px;
  }
  .projects .first_project h1 {
    font-size: 36px;
    margin-left: 110%;
    width: 250px;
    padding: 0%;
  }
  .projects .first_project h2 {
    font-size: 24px;
    margin-left: 0%;
    width: 250px;
  }
  .projects .first_project p {
    background-color: #715D99;
    font-size: 14px;
    margin-left: 80%;
    width: 400px;
    padding-top: 10%;
    margin-top: 0%;
    padding-bottom: 10%;
    border-radius: 20px;
  }
  .projects .second_project {
    margin-left: 51.59%;
    width: 617px;
    height: 403px;
    border-radius: 20px;
  }
  .projects .second_project h1 {
    font-size: 36px;
    margin-left: -40%;
    width: 250px;
    padding: 0%;
  }
  .projects .second_project h2 {
    font-size: 24px;
    margin-left: -40%;
    width: 250px;
    padding: 0%;
    margin-top: 0%;
  }
  .projects .second_project p {
    background-color: #715D99;
    font-size: 14px;
    margin-left: -70%;
    width: 400px;
    padding-top: 10%;
    margin-top: 0%;
    padding-bottom: 10%;
    border-radius: 20px;
  }
  .projects .third_project {
    background-color: #F2A0AF;
    margin: 0%;
    width: 617px;
    height: 403px;
    border-radius: 20px;
  }
  .projects .third_project h1 {
    font-size: 36px;
    margin-left: 110%;
    width: 250px;
    padding: 0%;
  }
  .projects .third_project h2 {
    font-size: 24px;
    margin-left: 0%;
    width: 250px;
  }
  .projects .third_project p {
    display: block;
    background-color: #715D99;
    font-size: 14px;
    margin-left: 80%;
    width: 400px;
    padding-top: 10%;
    margin-top: 0%;
    padding-bottom: 10%;
    border-radius: 20px;
  }
  .projects .notey .worthy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects .notey .worthy .notey-container-1 {
    background-color: #715d99;
    width: 400px;
    height: 336px;
    margin: 0;
  }
  .projects .notey .worthy .notey-container-2 {
    background-color: #4a3c66;
    width: 400px;
    height: 336px;
    margin: 0%;
  }
  .projects .notey .worthy .notey-container-3 {
    background-color: #715d99;
    width: 400px;
    height: 336px;
    margin: 0%;
  }
  .contact {
    margin-left: 20%;
  }
  .contact p {
    padding-left: 10%;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */