@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", arial;
  background-color: #0f0a4a;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.nav-container {
  header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 1%;
  }
  a {
    .logo-svg {
      width: 50%;
      height: auto;
    }
  }

  nav {
    ul {
      display: flex;
      a {
        display: block;
        padding-right: 2rem;
        color: #3fdd17;
        font-size: 1.2rem;
      }
      .large-screen {
        display: none;
      }
      .github {
        display: none;
      }
    }
  }
}
.social-links {
  display: none;
  margin-left: 5%;
  margin-bottom: 5%;
}
.intro {
  padding-top: 15%;
  padding-left: 10%;

  h2 {
    color: #3fdd17;
    font-weight: 400;
    font-size: 1rem;
  }
  h1 {
    color: #f2a0af;
    font-size: 3rem;
    font-weight: 500;
    margin: 0%;
  }
  .inner {
    color: #976da0;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 5rem;
    margin-top: 0%;
    margin-bottom: 4%;
    padding-top: 2%;
    line-height: normal;
  }
  p {
    color: #976da0;
    font-size: 1.1rem;
    padding-top: 2%;
    margin-right: 15%;
  }
  button {
    border-radius: 0.5rem;
    background-color: #0f0a4a;
    border-color: #3fdd17;
    border-width: 0.15rem;
    padding: 15px 32px;
    color: #f2a0af;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 2.5rem;
  }
}
.about-me {
  margin-top: 10%;
  h1 {
    color: #f2a0af;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 11%;
    hr {
      display: inline-block;
      width: 40%;
      border-color: rgb(69, 85, 180);
    }
  }
  p {
    margin-left: 11%;
    margin-top: 2rem;
    color: #976da0;
    font-size: 1.1rem;
    margin-right: 15%;
  }
  ul {
    justify-content: space-between;
    margin-left: 3rem;
    li {
      display: flex;
      margin-left: 15%;
      h2 {
        margin-left: 10%;
        margin-right: 10%;
        color: #f2a0af;
        font-size: 1.1rem;
      }
      svg {
        width: 2rem;
        height: auto;
        margin-left: 0;
      }
    }
  }

  .me {
    margin-left: 15%;
    margin-top: 3rem;
    width: 50%;
  }
}
.projects {
  margin-top: 10%;
  h1 {
    color: #f2a0af;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 16%;
    margin-bottom: 0;
  }
  hr {
    display: inline-block;
    width: 16%;
    border-color: rgb(69, 85, 180);
  }
  .right {
    background-color: #715d99;
    width: 80%;
    height: 22rem;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 2rem;
    padding-top: 3rem;

    h2 {
      margin-left: 10%;
      margin-bottom: 0;
      padding: 0;
      color: #3fdd17;
      font-weight: 400;
      font-size: 1rem;
    }
    h1 {
      margin-left: 1.5%;
      color: #f2a0af;
      font-size: 1.5rem;
      font-weight: 500;
      padding-left: 2rem;
    }
    p {
      padding-left: 10%;
      padding-right: 10%;
    }
    .icon0 {
      display: flex;
      justify-content: space-between;
      margin-right: 24%;
      padding-left: 20%;
      padding-top: 10%;
      svg {
        width: 10%;
      }
    }
  }
  .left {
    background-color: #4a3c66;
    width: 80%;
    height: 22rem;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 2rem;
    padding-top: 3rem;

    h2 {
      margin-left: 10%;
      margin-bottom: 0;
      padding: 0;
      color: #3fdd17;
      font-weight: 400;
      font-size: 1rem;
    }
    h1 {
      margin-left: 1.5%;
      color: #f2a0af;
      font-size: 1.5rem;
      font-weight: 500;
      padding-left: 2rem;
    }
    p {
      padding-left: 10%;
      padding-right: 10%;
    }
    svg {
      padding-left: 2rem;
    }
  }
  .notey {
    h1 {
      text-align: center;
      margin-left: 14%;
      margin-right: 10%;
      margin-top: 10%;
    }
  }
  .notey-container-1 {
    background-color: #876cbe;
    width: 80%;
    height: 19.5rem;
    margin-left: 14%;
    margin-top: 2rem;
    padding-top: 3rem;
    h1 {
      text-align: center;
      margin-left: 10%;
      margin-top: 10%;
    }
    p {
      margin-left: 4%;
      margin-right: 4%;
    }
    .icon1 {
      display: flex;
      justify-content: space-between;
      padding-left: 8%;
      padding-right: 6%;

      svg {
        width: 10%;
      }
    }
  }
  .notey-container-2 {
    background-color: #876cbe;
    width: 80%;
    height: 19.5rem;
    margin-left: 14%;
    margin-top: 2rem;
    padding-top: 3rem;
    h1 {
      text-align: center;
      margin-left: 10%;
      margin-top: 10%;
    }
    p {
      margin-left: 4%;
      margin-right: 4%;
    }
    .icon1 {
      display: flex;
      justify-content: space-between;
      padding-left: 8%;
      padding-right: 6%;

      svg {
        width: 10%;
      }
    }
  }
  .notey-container-3 {
    background-color: #876cbe;
    width: 80%;
    height: 19.5rem;
    margin-left: 14%;
    margin-top: 2rem;
    padding-top: 3rem;
    h1 {
      text-align: center;
      margin-left: 10%;
      margin-top: 10%;
    }
    p {
      margin-left: 4%;
      margin-right: 4%;
    }
    .icon1 {
      display: flex;
      justify-content: space-between;
      padding-left: 8%;
      padding-right: 6%;

      svg {
        width: 10%;
      }
    }
  }
}
.contact {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
  h1 {
    color: #f2a0af;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 2rem;
    margin-bottom: 0%;
    margin-top: 5%;
  }
  h2 {
    margin-top: 15%;
    margin-bottom: 0;
    padding: 0;
    color: #3fdd17;
    font-weight: 400;
    font-size: 1.5rem;
  }
  button {
    border-radius: 0.5rem;
    background-color: #0f0a4a;
    border-color: #3fdd17;
    border-width: 0.15rem;
    padding: 15px 32px;
    color: #f2a0af;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 2.5rem;
  }
  p {
    color: #976da0;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 0%;
  }
}
footer {
  margin-top: 10%;
  display: flex;
  margin-left: 10%;
  p {
    color: #976da0;
    margin-left: 8%;
  }
  svg {
    margin-top: 4.5%;
    margin-left: 0.6rem;
  }
}

@media only screen and(min-width: 700px) {
  .nav-container {
    header {
      padding-left: 10%;
      padding-top: 2%;
      padding-right: 8%;

      a{
        .logo-svg {
          width: 87px;
          height: auto;
        }
      }
      nav{
        width: 50%;
        ul {
          display: flex;
          justify-content:space-between;
          a {
            font-size:24px;
          }
          .mobile{
            display: none;
          }
          .large-screen {
            display: block;
          }
          .github {
            display: block;
          }
        }
      }
    }
  }
  .social-links {
    display: unset;
    position: fixed;
    bottom: 0;
    ul {
      li {
        margin-top: 80%;
        a{
          svg{
            width: 100%;
            height: 40px;
          }
        }
      }
    }
  }
  .intro {
    //background-color: red;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 8%;
    padding: 0%;
    h1{
      font-size: 64px;
    }
    .inner{
      margin-right: 25%;
      padding-top: 0%;
      font-size: 64px;
      line-height: 100%;
    }
    h2{
      font-size: 24px;
    }
    p {
      padding-top: 0%;
      margin-left: 0%;
      margin-right: 35%;
      font-size: 24px;
    }
  }
  .about-me{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(40px, auto);
    margin-left: 25%;
    margin-right: 8%;
    h1{
      grid-column: 1;
      grid-row: 1;
      margin: 0%;
      font-size: 36px;
    }
    p{
      grid-column:1/4;
      grid-row: 2/3;
      margin: 3% 50% 0% 0%;
      font-size: 24px;
    }
    .skills-list{
      grid-column: 1;
      grid-row: 3;

    }
    .me{
      grid-column: 2/4;
      grid-row: 2/ 3;
    }
  }
  .large-screen {
    display: unset;
  }
  footer {
    margin-left: 38%;
    margin-right: 30%;
  }
  .me {
    padding-left: 20%;
  }
  .projects {
    margin-left: 25%;
    margin-right: 8%;
    h1{
      margin: 0%;
      font-size: 36px;
    }
    
    .right{
      background-color: #F2A0AF;
      margin: 0%;
      width: 617px;
      height: 403px;
      border-radius: 20px;
      h1{
        font-size: 36px;
        margin-left: 110%;
        width: 250px;
        padding: 0%;
      }
      h2{
        font-size: 24px;
        margin-left: 110%;
        width: 250px;
        padding: 0%;
        margin-top: 0%;
      }
      p{
        background-color: #715D99;
        font-size: 14px;
        margin-left: 80%;
        width: 400px;
        padding-top: 10%;
        margin-top: 0%;
        padding-bottom: 10%;
        border-radius: 20px;
      }
    }
    .left{
      margin-left: 51.59%;
      width: 617px;
      height: 403px;
      border-radius: 20px;
      h1{
        font-size: 36px;
        margin-left: -40%;
        width: 250px;
        padding: 0%;
      }
      h2{
        font-size: 24px;
        margin-left: -40%;
        width: 250px;
        padding: 0%;
        margin-top: 0%;
      }
      p{
        background-color: #715D99;
        font-size: 14px;
        margin-left: -70%;
        width: 400px;
        padding-top: 10%;
        margin-top: 0%;
        padding-bottom: 10%;
        border-radius: 20px;
      }
    }
    .notey {
      .worthy{
        display: flex;
        justify-content: space-between;
        .notey-container-1{
          background-color: #715d99;
          width:400px;
          height: 336px;
          margin:0;
        }
        .notey-container-2{
          background-color: #4a3c66;
          width: 400px;
          height: 336px;
          margin: 0%;
        }
        .notey-container-3{
          background-color: #715d99;
          width: 400px;
          height: 336px;
          margin: 0%;
        }

      }
    }
  }
  .contact {
    margin-left: 20%;
    p {
      padding-left: 10%;
      font-size: 1.5rem;
    }
  } 
}